* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
:root {
  --clr-primary: #6c63ff;
  --clr-success: #00bf8e;
  --clr-warning: #f7c94b;
  --clr-danger: #f75842;
  --clr-danger-variant: rgba(247, 88, 66, 0.4);
  --clr-white: #fff;
  --clr-light: rgba(255, 255, 255, 0.7);
  --clr-black: #000;
  --clr-bg: #1f2641;
  --clr-bg1: #2e3267;
  --clr-bg2: #424890;

  --container-width-lg: 80%;
  --container-width-md: 90%;
  --container-width-sm: 94%;

  --transition: all 400ms ease;
}

body {
  color: var(--clr-white);
  background: var(--clr-bg);
}
.container {
  width: var(--container-width-lg);
  margin-inline: auto;
}
section {
  padding: 6rem 0;
}
section h2 {
  text-align: center;
  margin-bottom: 4rem;
}
h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
}
a {
  color: var(--clr-white);
}
img {
  width: 100%;
  display: block;
  object-fit: cover;
}
.btn {
  display: inline-block;
  background: var(--clr-white);
  color: var(--clr-black);
  padding: 1rem 2rem;
  border: 1px solid transparent;
  font-weight: 500;
  transition: var(--transition);
}
.btn:hover {
  background: transparent;
  color: var(--clr-white);
  border-color: var(--clr-white);
}
nav {
  background: transparent;
  width: 100vw;
  height: 5rem;
  position: fixed;
  top: 0;
  z-index: 11;
}
.nav__container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav button {
  display: none;
}
.nav__menu {
  display: flex;
  align-items: center;
  gap: 4rem;
}
.nav__menu a {
  font-size: 0.9rem;
  transition: var(--transition);
}
.nav__menu a:hover {
  color: var(--clr-bg2);
}

/* Media Queries */
@media screen and (max-width: 800px) {
  .container {
    width: var(--container-width-md);
  }

  nav button {
    display: inline-block;
    background: transparent;
    font-size: 1.8rem;
    color: var(--clr-white);
    cursor: pointer;
  }
  nav button#close-menu-btn {
    display: none;
  }
  .nav__menu {
    display: none;
    position: fixed;
    top: 5rem;
    right: 5%;
    height: fit-content;
    width: 18rem;
    flex-direction: column;
    gap: 0;
  }
  .nav__menu li {
    width: 100%;
    height: 5.8rem;
    animation: animateNavItems 400ms linear forwards;
    transform-origin: top right;
    opacity: 0;
  }
  .nav__menu li:nth-child(2) {
    animation-delay: 200ms;
  }
  .nav__menu li:nth-child(3) {
    animation-delay: 400ms;
  }
  .nav__menu li:nth-child(4) {
    animation-delay: 600ms;
  }

  @keyframes animateNavItems {
    0% {
      transform: rotateZ(-90deg) rotateX(90deg) scale(0.1);
    }
    100% {
      transform: rotateZ(0deg) rotateX(0deg) scale(1);
      opacity: 1;
    }
  }

  .nav__menu li a {
    background: var(--clr-primary);
    box-shadow: -4rem 6rem 10rem rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
  }
  .nav__menu li a:hover {
    background: var(--clr-bg2);
    color: var(--clr-white);
  }
}
